h1,h2,h5,p{
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-size: contain ;
    background: linear-gradient(rgb(254, 149, 166), rgb(136, 206, 229));
    background-repeat: no-repeat; 
    overflow: hidden;
}
.upper{
    /* width: 100vw; */
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(rgb(254, 149, 166), rgb(136, 206, 229));
}
.hader{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;
    /* background: rgb(255, 190, 201); */
}

.desc{
    display: flex;
    justify-content: center; 
    padding-left: 20px;
    /* text-align: center; */
}
.name{
    display: flex;
    flex: content;
    /* width: 400px; */
    padding-left: 1%;
    /* margin-right: 5%; */
    /* padding-bottom: 100px; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background: url("templates/images/desktop.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.topic{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 30px 10px 30px;
}
.members{
    display: flex;
    flex-direction: column;
    background: rgb(136, 206, 229);
    padding: 15px 15px;
    align-items: center;
    position: relative;
}
.team{
    display: flex;
    flex-direction: row;
}
.profile{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(246, 255, 161), rgb(136, 206, 229));
    border: 1px solid black;
    box-shadow: 5px 5px 5px #000000;
    padding: 5px;
    margin: 10px;
    justify-content:center;
    align-items: center;
}
.profile_photo{
    border: 1px solid black;
    width: 100px;
    border-radius: 50px;
}

h1{
    padding-left: 5%;
    color: orangered;
    letter-spacing: 8px;
    white-space: nowrap;
    font-size: 3em;
    animation: typing 5s steps(11) 1;
    overflow: hidden;
    position: relative;
    /* -webkit-box-reflect:below 25px linear-gradient(transparent, rgba(0, 0, 0, 0.278)); */
}
h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 90%;
    animation: blinkCursor 1s steps(3);
}
@keyframes blinkCursor{
    0%,75%{
        opacity: 1;
    }
    76%,100%{
        opacity: 0;
    }
    
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media (max-width: 750px){
    .members,.team{
        display: flex;
        flex-direction: column;
    }
    .hader{
        display: flex;
        flex-direction: column;
    }
    .upper{
        display: flex;
        flex-direction: column-reverse;
    }
    h1{
        letter-spacing: 2px;
    }
    body{
        overflow: visible;
    }
    .name{
        background-size: cover;
    }
}
