body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background: linear-gradient(rgb(254, 149, 166), rgb(136, 206, 229));
    min-height: 100vh;
    overflow: hidden;
}
.Contact h1{
    /* text-decoration: underline; */
    text-align: center;
    color: black;
    padding: 20px 0 20px 0;
    border-bottom: 4px groove burlywood;
}
.box
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact{
    position: relative;
    width: 450px;
    height: 480px;
    border-radius: 40px;
    overflow: hidden;
}
.Contact::before, .Contact::after{
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 275px;
    background: linear-gradient(0deg, transparent, transparent, rgb(255, 97, 123), rgb(255, 97, 123),rgb(255, 97, 123));
    z-index: 1;
    transform-origin: right bottom;
    animation: animate 4s linear infinite;
}
.Contact::after{
    background: linear-gradient(0deg, transparent, transparent, rgb(36, 163, 163), rgb(36, 163, 163),rgb(36, 163, 163));
    animation-delay: -2s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.Contact form{
    position: absolute;
    background: lightgoldenrodyellow;
    inset: 6px;
    border: 2px ridge gold;
    border-radius: 40px;
    margin: 0px auto;
    z-index: 2;
    padding: 50px auto;
}
form .field{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0px 20px 12%;
    width: 75%;
}
.field input{
    /* overflow-x: not hidden; */
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: black;
    border: none;
    background: none;
    outline: none;
}
.field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: orangered;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.field input:focus ~ label, .field input:valid ~ label{
    top: -5px;
    color: darkblue;
}
input[type="submit"]{
    width: 75%;
    height: 50px;
    border: 1px solid;
    background: lightblue;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 5px 0px 20px 12%;
}
input[type="submit"]:hover{
    border-color: red;
    color:blue;
    transition: 0.5s;
    background-color: lightcoral;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: inline;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slides-with-dots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.column-box{
  display: flex;
  flex-direction: row;
}