body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    /* background: linear-gradient(rgb(254, 149, 166), rgb(136, 206, 229)); */
    height: 100vh;
    overflow: hidden;
    background: url(images/red-heart-with-stethoscope_49149-906.jpg);
    background-size: cover;
}
.Contact h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 4px groove silver;
}
.Contact{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgb(255, 255, 200);
    border-radius: 10px;
    border: 6px solid greenyellow;
    border-style: ridge;
}
.Contact form{
    padding: 0px 60px 30px 60px;
    box-sizing: border-box;
    margin: 0 auto;
    /* box-shadow: 5px black; */
}
form .field{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}
.field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: orangered;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.field input:focus ~ label, .field input:valid ~ label{
    top: -5px;
    color: darkblue;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: lightblue;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    /* border-color: gold; */
    color:blue;
    transition: 0.5s;
    background-color: lightcoral;
}
.details{
    position: absolute;
    top: 85%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgb(255, 255, 200);
    border-radius: 10px;
    border: 6px solid greenyellow;
    border-style: ridge;
    width: 500px;
}
.box{
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}
