body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background: linear-gradient(rgb(254, 149, 166), rgb(136, 206, 229));
    min-height: 100vh;
    overflow: hidden;
}
.Contact h1{
    /* text-decoration: underline; */
    text-align: center;
    color: black;
    padding: 20px 0 20px 0;
    border-bottom: 4px groove burlywood;
}
.box
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact{
    position: relative;
    width: 450px;
    height: 480px;
    border-radius: 40px;
    overflow: hidden;
}
.Contact::before, .Contact::after{
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 275px;
    background: linear-gradient(0deg, transparent, transparent, rgb(255, 97, 123), rgb(255, 97, 123),rgb(255, 97, 123));
    z-index: 1;
    transform-origin: right bottom;
    animation: animate 4s linear infinite;
}
.Contact::after{
    background: linear-gradient(0deg, transparent, transparent, rgb(36, 163, 163), rgb(36, 163, 163),rgb(36, 163, 163));
    animation-delay: -2s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.Contact form{
    position: absolute;
    background: lightgoldenrodyellow;
    inset: 6px;
    border: 2px ridge gold;
    border-radius: 40px;
    margin: 0px auto;
    z-index: 2;
    padding: 50px auto;
}
form .field{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0px 20px 12%;
    width: 75%;
}
.field input{
    /* overflow-x: not hidden; */
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: black;
    border: none;
    background: none;
    outline: none;
}
.field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: orangered;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.field input:focus ~ label, .field input:valid ~ label{
    top: -5px;
    color: darkblue;
}
input[type="submit"]{
    width: 75%;
    height: 50px;
    border: 1px solid;
    background: lightblue;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 5px 0px 20px 12%;
}
input[type="submit"]:hover{
    border-color: red;
    color:blue;
    transition: 0.5s;
    background-color: lightcoral;
}
