
.header
{
    max-width: 100vw;
    overflow: hidden;
}
.titlePara
{z-index: 100   ;
    margin-top: 10px;
    font-size: larger;
    color: black;
 text-align: center;
font-size: 20px;
font-family: 'Nunito', sans-serif;
}
body
{ font-family: 'Nunito', sans-serif;
 overflow: auto;   
 
}

.productItems
{
    width: 90vw;
    
    /* auto height */
    margin: auto;
    display: grid;
    margin-top: 20px;
    border:  2px solid gray;
border-radius: 3px;
grid-template-columns: repeat(4,1fr);
grid-row-gap: 5px;
}
.main
{
overflow: visible   ;
}


.product
{
    display: flex;
    margin: 5px;
    width: 250px;
    height: 200px;
    flex-direction: column;
    padding-left: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    
}
.proTitle
{font-weight: 600;
    color: rgb(82, 78, 78);
    font-family: 'Nuninto', sans-serif;
    width: 200px;
    display: block;
    margin-bottom: 5px;
    
}
.pcost
{
    color: black;
    font-weight: 500;
    font-family: 'Nuninto', sans-serif;
}
.proImg{
    
    width: max-content;
}
.proImg img
{padding-top: 18px;
    height: 70px;
    align-items: center;
    padding-left: 15%;
}
.addTocart
{
    display: inline-block;
    border: gray;
    border-radius: 5px solid gray;
}

.txt-to-fade {
    opacity: 0;
    
    
  }
  
  .product button{
    background-color: white;
    border: 2px solid #dd5152;
    color: black;
    
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  .product button:hover{
    background-color: #dd5152;
    box-shadow: 0 0 10px #dd5152;

  }
 
  #cartBtn
  {
    color: crimson;
  
    margin-right: 20px;
    height: 50px;
    width: 50px;
    
    
    
    display: flex;
    flex-direction: column;
    position: fixed;
}



#cartBtn button{
    
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    
    border-color: #dd5152;
    
}

.sideBar{
    color: black;
    
    position: fixed;
    /* left: 0; */
z-index: 99999;    
    width: 300px;
    height: 100%;
    background-color: #dd5152;
transition: all .5s ease;
overflow-y: scroll;
}
.sideBar header{
    font-size: 22px;
}
#hideside
{
   width: 20px;
   color: black;
   border-color: gray;
   border-radius: 5px;
   margin-left: 50%;
}
#cartBtn img
{
width: 100%;
height: 100%;
}
.pro-rem
{
    color: black;
    border-color: red;
    padding: 2px;
border-radius: 4px;

}
.sideHead
{
    margin-bottom: 25px;
}

.classItems span{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    
}
.classItems li
{
    margin-bottom: 20px;
}
#placeOrder
{
    margin-top: 10px;
    color: black;
    /* background-color: yellow; */
    padding: 6px;
    
width: max-content;
    background-color:  yellow;
    border-radius: 30px;
    background-image: url("https://www.pngall.com/capsule-png/");
}