<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='About_Us.css') }}"
    />
    <!-- <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/About_Us.css" /> -->

    <title>About Us</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <div class="logopic">
          <div id="titleOver">AiVantage</div>

          <!-- <img src="images/heartbeat.gif" alt="error" /> -->
        </div>
      </div>
      <div class="home">
        <a href="{{ url_for('render') }}">Home</a>
      </div>
      <!-- <div class="services">
        <a href="">Services</a>
      </div> -->
      <div class="products">
        <a href="{{ url_for('products') }}">Products</a>
      </div>
      <div class="contact">
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
      <div class="about">
        <a href="{{ url_for('about') }}">About</a>
      </div>
      <!-- <div class="appoint">
        <a href="">Book an appointment</a>
      </div> -->
      <div class="metamask">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          id="connect"
          onclick="startconnect()"
        >
          Connect Metamask
        </button>
      </div>
    </div>

    <div class="upper">
      <div class="hader">
        <div class="topic">
          <h2>MEET OUR CREATIVE TEAM...</h2>
          <h2>WE ARE DESIGNERS,</h2>
          <h2>THINKERS, AND</h2>
          <h2>COLLABORATORS.</h2>
        </div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
            numquam doloribus fugit illum non dolore provident voluptas
            asperiores culpa corrupti architecto magnam officiis voluptates,
            atque praesentium eius, tempore iure similique! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Vel eveniet, natus
            reprehenderit officiis sapiente porro iure eos pariatur dolorum
            fugiat ex non culpa temporibus, sit vero quis! Iure, dolores
            accusamus.
          </p>
        </div>
      </div>
      <div class="name">
        <img src="/static/images/2773.png" alt="" />
        <div class="typing-container">
          <h1 id="blinkit"><span id="text"></span></h1>
          <span id="cursor"></span>
        </div>
      </div>
    </div>

    <div class="members">
      <h2>Here are the Jewels of AIvantage:</h2>
      <div class="team">
        <div class="profile">
          <div>
            <img class="profile_photo" src="/static/images/ARGS.jpg" alt="" />
          </div>
          <div class="details">
            <a href="https://www.linkedin.com/in/arghya-chowdhury-200111244/">
              <h5>Arghya Chowdhury(Backend)</h5>
            </a>
          </div>
        </div>
        <div class="profile">
          <div>
            <img class="profile_photo" src="/static/images/soh.jpg" alt="" />
          </div>
          <div class="details">
            <a href="https://www.linkedin.com/in/soham-de-b5bb2b25b/">
              <h5>Soham De(Frontend)</h5>
            </a>
          </div>
        </div>
        <div class="profile">
          <div>
            <img class="profile_photo" src="/static/images/DEV.jpg" alt="" />
          </div>
          <div class="details">
            <a href="https://www.linkedin.com/in/devjyoti-banerjee-31a3b1255/">
              <h5>Devjyoti Banerjee(Frontend)</h5>
            </a>
          </div>
        </div>
        <div class="profile">
          <div>
            <img class="profile_photo" src="/static/images/DEB.jpg" alt="" />
          </div>
          <div class="details">
            <a
              href="https://www.linkedin.com/in/debarshee-chakraborty-a88b47266/"
            >
              <h5>Debarshee Chakraborty(Backend)</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const textElement = document.getElementById("text");
      const cursorElement = document.getElementById("cursor");

      const text = " AiVantage";
      let index = 0;

      function type() {
        if (index < text.length) {
          textElement.textContent += text.charAt(index);
          index++;
          setTimeout(type, 200); // Adjust typing speed here (milliseconds)
        } else {
          cursorElement.style.display = "none";
        }
      }

      type();
    </script>
  </body>
</html>
