<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact_Us.css') }}">
    <title>CONTACT US</title>
</head>
<body>
    <div class="Contact">
        <form action = "/submit" method="post">
        <h1>Contact Us</h1>
            <div class="field">
                <input type="text" name = "name" required>
                <label>Enter your Name</label>
            </div>
            <div class="field">
                <input type="text" name = "email" required>
                <label>Enter your e-mail address</label>
            </div>
            <div class="field">
                <input type="tel" name = "number"  required>
                <label>Enter your Phone number</label>
            </div>
            <div class="field">
                <input type="text"  required>
                <label>Enter your reason for Appointment</label>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
