<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='Contact_Us.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='index.css') }}"
    />
    <!-- <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/Contact_Us.css" /> -->
    <title>CONTACT US</title>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <div class="logopic">
          <div id="titleOver">AiVantage</div>

          <!-- <img src="images/heartbeat.gif" alt="error" /> -->
        </div>
      </div>
      <div class="home">
        <a href="">Home</a>
      </div>
      <!-- <div class="services">
        <a href="">Services</a>
      </div> -->
      <div class="products">
        <a href="{{ url_for('products') }}">Products</a>
      </div>
      <div class="contact">
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
      <div class="about">
        <a href="{{ url_for('about') }}">About</a>
      </div>
      <!-- <div class="appoint">
        <a href="">Book an appointment</a>
      </div> -->
      <div class="metamask">
        <button type="button" class="btn btn-primary btn-sm" id="connect">
          Connect Metamask
        </button>
      </div>
    </div>
    <div class="Contact">
      <form action="/submit" method="post">
        <h1>Contact Us</h1>
        <div class="field">
          <input type="text" name="name" required />
          <label>Enter your Name</label>
        </div>
        <div class="field">
          <input type="text" name="email" required />
          <label>Enter your e-mail address</label>
        </div>
        <div class="field">
          <input type="tel" name="number" required />
          <label>Enter your Phone number</label>
        </div>
        <div class="field">
          <input type="text" required />
          <label>Enter your reason for Appointment</label>
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
