<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Products</title>
    <!-- <link rel="stylesheet" href="/static/index.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <style>
      .product {
        animation: fadepro 1s;
      }
      @keyframes fadepro {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="logo">
          <div class="logopic">
            <div id="titleOver">AiVantage</div>

            <!-- <img src="images/heartbeat.gif" alt="error" /> -->
          </div>
        </div>
        <div class="home">
          <a href="{{ url_for('render') }}">Home</a>
        </div>
        <!-- <div class="services">
          <a href="">Services</a>
        </div> -->
        <!-- <div class="ourDoc">
          <a href="">Our Products</a> -->
          <div class="products">
            <a href="{{ url_for('products') }}">Products</a>
          </div>
          <div class="contact">
            <a href="{{ url_for('contact') }}">Contact</a>
          </div>
          <div class="about">
            <a href="{{ url_for('about') }}">About</a>
          </div>
        <!-- <div class="appoint">
          <a href="">Book an appointment</a>
        </div> -->
        <div class="metamask">
          <button type="button" class="btn btn-primary btn-sm" id="connect">
            Connect Metamask
          </button>
        </div>
      </div>
      <div class="Cart">
        <div class="title txt-to-fade">
          <p class="titlePara">Our Products</p>
        </div>

        <div id="cartBtn">
          <button onclick="showcart();">
            <img src="/static/images/shopping-cart-2029.svg" alt="" />
            <span id="cartQuan"></span>
          </button>
        </div>
      </div>
      <div class="sideBar" style="left: -100%">
        <header class="sideHead">
          Your Cart <button id="hideside" onclick="hidecart();">x</button>
        </header>
        <ul class="classItems"></ul>
      </div>
      <div class="productItems js-products" onload="appear();"></div>
    </div>
    <script src="/static/products.js"></script>
    <script src="/static/cart.js"></script>
    <script src="/static/interactive.js"></script>
  </body>
</html>
