<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Products</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/products.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="logo">
          <div class="logopic">
            <div id="titleOver">AiVantage</div>

            <!-- <img src="images/heartbeat.gif" alt="error" /> -->
          </div>
        </div>
        <div class="home">
          <a href="/templates/index.html">Home</a>
        </div>
        <div class="services">
          <a href="">Services</a>
        </div>
        <div class="about">
          <a href="/templates/About_Us.html">About</a>
        </div>
        <div class="ourDoc">
          <a href="">Our Doctor</a>
        </div>
        <div class="contact">
          <a href="/templates/Contact_Us.html">Contact</a>
        </div>
        <div class="appoint">
          <a href="">Book an appointment</a>
        </div>
        <div class="metamask">
          <button type="button" class="btn btn-primary btn-sm" id="connect">
            Connect Metamask
          </button>
        </div>
      </div>
      <div class="Cart">
        <div class="title txt-to-fade">
          <p class="titlePara">Our Products</p>
        </div>

        <div id="cartBtn">
          <button onclick="showcart();">
            <img src="/templates/images/shopping-cart-2029.svg" alt="" />
            <span id="cartQuan"></span>
          </button>
        </div>
      </div>
      <div class="sideBar" style="left: -100%">
        <header>
          Your Cart <button id="hideside" onclick="hidecart();">x</button>
        </header>
        <ul id="classItems"></ul>
      </div>
      <div class="productItems">
        <div class="product" data-product-id="1">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart" onclick="addToCart();">
              Add To Cart
            </button>
          </div>
        </div>
        <div class="product" data-product-id="2">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/I05582/dr-morepen-gluco-one-bg-03-glucometer-test-strips-box-of-50-1-1669655233.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Dr. Morepen Gluco One Bg 03 Glucometer Test
            </span>
            <span class="pcost">₹688.03</span>
            <button class="addTocart" onclick="addToCart();">
              Add To Cart
            </button>
          </div>
        </div>

        <div class="product" data-product-id="3">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/226830/prega-news-pregnancy-test-kit-1-1669655006.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle">Prega News Pregnancy Test Kit</span>
            <span class="pcost">₹44.40</span>
            <button class="addTocart" onclick="addToCart();">
              Add To Cart
            </button>
          </div>
        </div>
        <div class="product p4">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/031531/calcimax-500-health-supplement-tablets-500-mg-of-calcium-box-of-30-2-1671741223.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle">Calcimax 500 Health Supplement Tablets</span>
            <span class="pcost">₹330.60</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p5">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/270382/scalpe-plus-anti-dandruff-shampoo-bottle-of-75-ml-2-1671741035.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle">Scalpe Plus Anti Dandruff Shampoo</span>
            <span class="pcost">₹252.00</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p6">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/183157/volini-pain-relief-gel-tube-of-75-g-2-1671740956.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle">Volini Pain Relief Gel Tube Of 75 G</span>
            <span class="pcost">₹220.50</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p7">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/000665/accu-chek-active-glucometer-test-strips-box-of-50-1-1669655023.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle">Accu-Chek Active Glucometer Test Strip</span>
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p8">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p9">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p10">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p11">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product p12">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
        <div class="product">
          <div class="proImg">
            <img
              src="https://cdn01.pharmeasy.in/dam/products_otc/207833/calcimax-forte-plus-strip-of-30-tablets-2-1671741016.jpg"
              alt=""
            />
          </div>
          <div class="proDetails">
            <span class="proTitle"
              >Calcimax Forte Plus Strip Of 30 Tablets</span
            >
            <span class="pcost">₹250.80</span>
            <button class="addTocart">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function fade(elem) {
        const fadeIn = document.querySelector(elem);
        fadeIn.style.opacity = "1";
        fadeIn.style.transition = "opacity 3s ease";
      }
      setTimeout(fade(".txt-to-fade"), 2000);

      const fadeElements = document.querySelectorAll(".product");

      fadeElements.forEach((element, index) => {
        setTimeout(() => {
          element.style.opacity = 1;
          element.style.transition = "opacity 1s ease";
        }, (index + 1) * 300); // Delay each element by 1 second
      });
      function showcart() {
        const cart = document.querySelector(".sideBar");
        cart.style.left = "0";
      }
      function hidecart() {
        const cart = document.querySelector(".sideBar");
        cart.style.left = "-100%";
      }

      //add to cart feature
      const addToCartButtons = document.querySelectorAll(".addTocart");
      const cartContainer = document.querySelector(".cartItems");
      addToCartButtons.forEach((button) => {
        button.addEventListener("click", addToCart(event));
      });

      function addToCart(event) {
        //the line below is causing error
        // const near = event.target;
        const product = event.closest(".product");
        const proName = product.querySelector(".proTitle").innerText;
        const proPrice = product.querySelector(".cost").innerText;

        console.log(`HELLO ${proName}  ${proPrice}`);
        const cartItem = document.createElement("li");
        cartItem.innerHTML = `${proName} : ₹${proPrice} <button class = "removeCart"> Remove </button> `;
        cartContainer.appendChild(cartItem);
        const remCartBtn = cartItem.querySelector(".removeCart");
        remCartBtn.addEventListener("click", remFromCart);
      }
      function remFromCart(event) {
        const cartItem = event.target.closest("li");
        cartContainer.removeChild(cartItem);
      }
    </script>
    <!-- <script src="/static/products.js"></script> -->
  </body>
</html>
